@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Effortless Data Management</h1>
    <p>Welcome to our comprehensive data management solution where we seamlessly guide you through the process of setting 
        up your SQL Server database, importing data, and integrating it with your Visual Studio project. Our intuitive 
        interface ensures effortless navigation and visualization of your dataset, with features including vertical and 
        horizontal scroll bars for easy exploration, customizable headers for clarity, and a fixed header row for uninterrupted 
        viewing. Enhance user experience with a touch of personalization by modifying checkbox colors and maintaining button
        visibility even during horizontal scrolling. Experience the power of streamlined data management and visualization at 
        your fingertips.</p>
</div>
